<form [formGroup]="form">
  <div>
    <mat-form-field>
      <mat-label>Item</mat-label>
      <input matInput formControlName="itemName" [value]="existingSpecialOrder.itemName">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand"
             [value]="existingSpecialOrder.brand">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Size</mat-label>
      <input matInput formControlName="size" [value]="existingSpecialOrder.size">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Item Color</mat-label>
      <input matInput formControlName="itemColor"
             [value]="existingSpecialOrder.itemColor">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Design Notes</mat-label>
      <textarea matInput formControlName="designNotes"
                [value]="existingSpecialOrder.designNotes ? existingSpecialOrder.designNotes : ''"></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="updateSpecialOrder()">
    Edit Monogram
  </button>
  <button mat-raised-button color="basic" (click)="cancelEdit()">
    Cancel
  </button>
</form>
