<div *ngIf="datasource.data.length > 0">
  <h3>Monogram</h3>
  <hr>
  <mat-table [dataSource]="datasource" style="background-color: #E8E8E8">
    <ng-container matColumnDef="orderId">
      <mat-header-cell *matHeaderCellDef> Order Id</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.orderId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="itemName">
      <mat-header-cell *matHeaderCellDef> Item</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.itemName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="monogram">
      <mat-header-cell *matHeaderCellDef> Monogram</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.monogram}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef> Customer</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.customer}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="menu">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button color="primary" (click)="handleEditOrderClick()">
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns" (click)="handleRowClick(row)"></mat-row>
  </mat-table>
</div>
