.signature {
  font-family: 'Mr Dafoe', cursive;
  font-size: larger;
  text-align: center;
}

mat-cell {
  border: 1px solid #D6D6D6;
  padding-left: 1%;
}

mat-header-row {
  background: #DCDCDC;
}

mat-card {
  border: 1px solid gray;
}
