<h3>Please fill-out all information regarding the Customer's item</h3>
<form [formGroup]="this.overallForm">
  <div *ngIf="hasMonograms()">
    <h2>Monograms</h2>
    <hr>
    <div formArrayName="monogramArrayForm" *ngFor="let monogramForm of monogramArrayForm; let i = index">
      <div [formGroupName]="i">
        <app-monogram-item #monogramItemComponent
                           (change)="this.monogramForm = monogramItemComponent.form" [monogramIndex]="i"
                           (formIndexToRemove)="this.removeForm($event, 'monogram')"
                           (isMonogramCreated)="this.isNewItem = $event"></app-monogram-item>
      </div>
    </div>
  </div>
  <div *ngIf="hasSpecialOrders()">
    <h2>Special Orders</h2>
    <hr>
    <div formArrayName="specialOrderForms" *ngFor="let specialOrderForm of specialOrderForms; let i = index">
      <div [formGroupName]="i">
        <app-special-order #specialOrderComponent
                           (change)="this.specialOrderForm = specialOrderComponent.specialOrderForm" [monogramIndex]="i"
                           (formIndexToRemove)="this.removeForm($event,'specialOrder')"
                           (isMonogramCreated)="this.isNewItem = $event"></app-special-order>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" (click)="this.openDialog()" [disabled]="isNewItem">Add Item</button>
  <button mat-raised-button color="primary" matStepperNext [disabled]="isNewItem">Review Order</button>
</form>
