/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/theming";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/grid/columns.sass";

@include mat-core();

$angular-material-v1-primary: mat-palette($mat-teal, 300, 400, 500);
$angular-material-v1-accent: mat-palette($mat-blue, A200, A400, A700);
$angular-material-v1-warn: mat-palette($mat-red, 900, 500, A700);

$angular-material-v1-theme: mat-light-theme(
    $angular-material-v1-primary,
    $angular-material-v1-accent,
    $angular-material-v1-warn
);

@include angular-material-theme($angular-material-v1-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa
}

mat-card {
  background-color: #f2f2f2;
  margin-right: 15px;
  margin-left: 15px;
}
