/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/grid/columns.sass";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa
}

mat-card {
  background-color: #f2f2f2;
  margin-right: 15px;
  margin-left: 15px;
}
